[Desktop Entry]
Encoding=UTF-8
Name=Посилання на .gitignore
Type=Link
URL=https://github.com/sashagrona/Java-OOP/blob/master/.gitignore
Icon=text-html
